# Packages
node_modules/

# Log files
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Env
.env

# Dist
dist/

# Miscellaneous
.tmp/
.vscode/*
.idea/
.DS_Store
tsconfig.tsbuildinfo
coverage/
__tests__/

# Cache
.prettiercache
.eslintcache

# Docker specific
.eslintrc.json
.prettierignore
.prettierrc.js
.prettierrc.cjs
cliff.toml
CHANGELOG.md
README.md
tsconfig.eslint.json
docs/
